<% if not video.still_processing? %>
<%= javascript_include_tag "video-js/video" %>
<%= stylesheet_link_tag "video-js" %>

  <script type="text/javascript" charset="utf-8">
      // Add VideoJS to all video tags on the page when the DOM is ready
      VideoJS.setupAllWhenReady();
      
  </script>

  <!-- Begin VideoJS -->
    <div class="video-js-box">
      <!-- Using the Video for Everybody Embed Code http://camendesign.com/code/video_for_everybody -->
      <video class="video-js" width="640" height="264" controls preload poster=<%= video.origfile.url(:large) %> >

        <source src= <%= video.origfile.url(:x264video) %> type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
        <source src= <%= video.origfile.url(:webmvideo) %> type='video/webm; codecs="vp8, vorbis"' />
        <source src= <%= video.origfile.url(:ogvvideo)  %> type='video/ogg; codecs="theora, vorbis"' />

        <!-- Flash Fallback. Use any flash video player here. Make sure to keep the vjs-flash-fallback class. -->
        <object class="vjs-flash-fallback" width="640" height="264" type="application/x-shockwave-flash"
          data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
          <param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
          <param name="allowfullscreen" value="true" />
          <param name="flashvars" value='config={"playlist":["<%= video.origfile.url(:large) %>", {"url": "<%= video.origfile.url(:x264video) %>","autoPlay":false,"autoBuffering":true}]}' />
          <!-- Image Fallback. Typically the same as the poster image. -->
          <img src= "<%= video.origfile.url(:large) %>" width="640" height="264" alt="Poster Image"
            title="No video playback capabilities." />
        </object>
      </video>

    </div>
    <!-- End VideoJS -->
<% else %>
  <p>Video is still converting</p>
  <%= image_tag video.origfile.url(:large) %>
<% end %>

