<h1>Videos#update</h1>
<p>Find me in app/views/videos/edit.html.erb</p>
<%= form_for @video, :html => { :multipart => true }  do |form| %>
      <div class="field">
        <%= form.label 'Name:' %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label 'Beschreibung:' %>
        <%= form.text_field :description %>
      </div>

      <div class="actions">
        <%= form.submit "Upload" %>
      </div>
<% end %>

