<h1>Upload</h1>

<%= form_for @video, :html => { :multipart => true }  do |form| %>
  <%= render 'shared/error_messages', :object =>@video %>
    <div class="field">
      <%= form.label 'VideoDatei:' %>
      <%= form.file_field :origfile %>
    </div>

    <div class="field">
      <%= form.label 'Name:' %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label 'Beschreibung:' %>
      <%= form.text_field :description %>
    </div>

    <div class="actions">
      <%= form.submit "Upload" %>
    </div>

<% end %>

