<h1><%= @video.name %></h1>
<% if current_user %>
  <%= link_to 'Destroy', @video, :confirm => 'Are you sure?', :method => :delete unless not current_user.admin? %>
  <%= link_to 'Edit', edit_video_path(@video) unless not current_user.admin? %>
<% end %>
<%= render 'showVideo', :video => @video %>
<% if not @video.still_processing? %>
  <p><a href="#content" title="Content Lightbox">EmbedCode</a> </p>

  <div class="lightbox" id="content">
    <div class="w60p h400 scroll">
      <p><%= @embed %></p>
    </div>
    <p class="close"><a href="#" title="Close This Content Lightbox">Close <span>X</span></a></p>
  </div>
<% end %>
